#add-task {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}
 
body {
    background-color: white;
    font-family: Tahoma;
}
 
h1 {
    text-align: center;
    color: white;
    background: black;
}
 
 label {
    font-size: large;
    font-weight: bold;
 }
 
table tr, table tbody {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 110%;
}
 
table th {
    line-height: 50px;
}
 
table .days th {
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    background: #333;
    color: #fff;
    border: none;
}
 
.row {
    flex-direction: flex;
}
 
.image {
    height: 50px;
    width: 50px;
}
 
#profile {
    flex: 10%;
}
 
#top-title {
    flex: 90%;
}
 
.row-obj {
    padding: 10px;
    border: 30px;
    border: black 5px;
}
 
.calendar-and-task {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 
.query-form {
    border: black 5px;
}
 

